[ huisarts ]
basicConstraints=CA:FALSE
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
authorityInfoAccess = OCSP;URI:http://ocsp.uzi-register.nl
crlDistributionPoints = URI:http://www.uzi-register.nl/cdp/uzi-register_zorgverlener_ca.crl
certificatePolicies = @pols
# keyUsage=critical, nonRepudiation

# Bizarre - see section 4.8 of 20200325 CA model pasmodel certificaatprofielen v10_0.pdf !
# Beroepstitels uit https://www.zorgcsp.nl/Media/Default/documenten/2020-01-04_RK1%20CPS%20UZI-register%20V9.8.pdf, bijlage 3
#
subjectAltName=otherName:2.5.5.5;IA5STRING:"2.16.528.1.1003.1.3.5.5.2-1-0000006666-Z-12345678-01.015-12345678"

#1.3.6.1.5.5.7.1.3=ASN1:Sequence:0.4.0.1862.1.1
1.3.6.1.5.5.7.1.3=DER:300A3008060604008E460101

[ pols ]
policyIdentifier=2.16.528.1.1003.1.2.2.2
CPS.1=https://www.uzi-register.nl/cps/cps.html
userNotice.1=@notice

[ notice ]
explicitText=Het toepassingsgebied van dit certificaat is beperkt tot communicatie binnen het domein Overheid zoals aangegeven in het Programma van Eisen van de PKI voor de Overheid. Zie www.pkioverheid.nl

[ v3_req ]
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
basicConstraints = CA:FALSE

[ subca ]
basicConstraints = CA:TRUE

