<!DOCTYPE html>
<html lang="EN">
<head>
  <link rel="stylesheet" href="styles.css">
  <title>FHIR2QR</title>
  <script src="scripts.js" type="application/javascript"></script>
</head>
<body>
<h1>FHIR 2 QR</h1>
<p>This queries the given FHIR server for Immunization resources, and will:</p>
    <ol>
        <li>
            <form action="/query_fhir_server" method="post">
                <label for="fhir_server">Fetch JSON from </label>
                <select id="fhir_server" name="fhir_server">
                {%  if 'selected_server' in page_state %}
                    {% if page_state.selected_server == "https://hl7eu.onfhir.io/r4/" %}
                        <option value="https://hl7eu.onfhir.io/r4/" selected>https://hl7eu.onfhir.io/r4/</option>
                    {% else %}
                        <option value="https://hl7eu.onfhir.io/r4/">https://hl7eu.onfhir.io/r4/</option>
                    {% endif %}
                    {% if page_state.selected_server == "https://server.fire.ly/r4/" %}
                        <option value="https://server.fire.ly/r4/" selected>https://server.fire.ly/r4/</option>
                    {% else %}
                        <option value="https://server.fire.ly/r4/">https://server.fire.ly/r4/</option>
                    {% endif %}
                {% else %}
                    <option value="https://hl7eu.onfhir.io/r4/" selected>https://hl7eu.onfhir.io/r4/</option>
                    <option value="https://server.fire.ly/r4/">https://server.fire.ly/r4/</option>
                {%  endif %}
                </select>
                by <button type="submit" value="show">querying</button> it.<br>
                {% if 'qry_res' in page_state %}
                    {% if page_state.qry_res %}
                    <label for="fhir_query_res">FHIR Query results as ujson:</label><br>
                    <textarea cols=80 id=fhir_query_res name=fhir_query_res rows=20>{{page_state.qry_res}}</textarea>
                    {% endif %}
                {% endif %}
            </form>
        </li>
<form action="/fhir2qr" method="post">
        <li>convert the returned JSON to an eHN Vaccination Minimum Data Set as per Annex 1
            <input formaction="fhir2json" formmethod="post"  type="submit" value="show"/>,
            {% if 'min_data_set' in page_state %}
              {% if page_state.min_data_set %}
              <label for="fhir_2_json">Min Data Set / Disclosure Level "Private Venue":</label><br>
              <textarea cols=80 id=fhir_2_json name=fhir_2_json rows=10>{{page_state.min_data_set}}</textarea>
              {% endif %}
            {% endif %}
        </li>
        <li>semantically compress it,
        <li>serialize it,
            <input formaction="fhir2jsoncbor" type="submit" value="show"/>,
        </li>
        <li>digitally sign it <input formaction="fhir2jsoncborcosezlib" type="submit" value="show"/> with:
            <ul>
                <li> private key as a <a href="dsc-worker.key">PEM file</a> (<i>which you normally would not get!</i>).
                </li>
                <li> and the KeyID of the DSCS certificate <a href="dsc-worker.pem">PEM file</a> (plain concatenation;
                    not a LDIFF).
                </li>
                <li> Which is on this Country DSCS list, available as <a href="masterlist-dsc.pem">PEM file</a>.</li>
                <li> And which is signed by the Country CSCA, availablea <a href="csca.pem">PEM file</a>.</li>
            </ul>
        </li>
        <li>LZMA compress it,
            <input formaction="fhir2jsoncborcosezlib" type="submit" value="show"/>,
        </li>
        <li><a href="https://tools.ietf.org/html/draft-faltstrom-base45-02">Base45</a> encode it
            <input formaction="fhir2jsoncborcosezlibb45" type="submit" value="show"/>,
        </li>
        <li> and finally generate QR code from it
            <input formaction="fhir2jsoncborcosezlibb45qr" type="submit" value="show qr"/>.
        </li>
    </ol>
    <p>Or
        <input formaction="fhir2size" type="submit" value="show the sizes"/> after each step.
</form>
</div>
</body>
</html>
